@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

/* Add some styles for body*/
body {
	min-height: 100vh;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.5rem;
	column-gap: 1.5rem;
}

.card {
	height: 385px;
	width: 365px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border-radius: 15px;
	background-color: #4A5567;
	padding: 25px;
}

.action-buttons {
	height: 35px;
	width: fit-content;
	border-radius: 10px;
	background-color: #C951E7;
	padding: 10px;
}

@media screen and (min-width: 720px) {

}